*{margin: 0px;
padding: 0px;}
.menu-container{
    background-color: #1e1e1e;
    padding: 10px 50px;
    color: aliceblue;
    display: flex;
    list-style: none; 
    align-items: center;
   justify-content:space-around;
}
.menus{
    display: flex;
    
}
.menus-contact{margin: 15px;
font-size: 18px;}
.logo{
 margin-left:-20%;
}
.menus-contact:hover{
    color: #b4afaf;
    cursor: pointer;
}
.banner{display: flex;
background-image: url('download.jfif') ;

color: aliceblue;
align-items: center;
justify-content: space-around;
height: 100vh;
padding: 50px;}
.bannertext{padding-left: 20px;}
.button{
    height: 40px;
    width: 100px;
    border: none;
    
    background-color: #1b8eec;
    cursor: pointer;
    color: aliceblue; 
}
.button:hover{background-color: #ef436e;}
.aboutimg{background-color: white;}
.img-and-text{
    display: flex;
    
    align-items:center;
     justify-content: space-around;
     flex-direction: row-reverse;
}
.container1{
   
    box-shadow:10px 10px 300px white ;
    
    width: 200px;
    padding: 20px;
    
}
.survice{background-image: url('Slate-Texture-BW-Background.jpg');
color: antiquewhite;}
.survice-container{display: flex;
    align-items: center;
   justify-content:space-around;
}
.btn1{
    background-color: transparent;
    border: 1px solid #7c8083;
}
.btn1:hover{background-color: #7c80831d;
border: 1px solid #7c80833d;}